body {
    padding-top: 5rem;
    background-color: rgb(231, 231, 231);
}

.page-header{
    font-weight: bold;
    font-size: 60px;
}

.navbar, .navbar-expand-lg, .bg-primary, .fixed-top, .navbar-dark{
    background-color: rgba(110,182,165,255);
}

h6{
    font-weight: bold;
}

.long{
    width: 100%;
}



